

{% extends "MaciHelloBundle::layout.html.twig" %}


{% block container %}

<div id="row">
	<div class="col-md-2">

		{% block leftMenu %}

			{% include "MaciOrderBundle:Default:_nav.html.twig" %}

		{% endblock %}

	</div>
	<div class="col-md-10">

		{% block content %}{% endblock %}

	</div>
</div>

{% endblock %}

