
<h3>Checkout</h3>


<section>

<h4>Your Order</h4>
<h5>Name: {{ order.name }}</h5>
<h5>Name: {{ order.items|length }}</h5>
<h5>Checkout Status: {{ checkout }}</h5>

</section>


{% if order.items|length %} {# --- Valid Checkout (^^) ---  #}


<section>

{% include "MaciOrderBundle:Default:_show.html.twig" with { 'order': order } %}

</section>


<section>

{% if checkout is defined %}


	{% if checkout == 'shipping' %}

		<h4>Shipping</h4>

		<h5>Select or Add an Address:</h5>

		{% render(controller('MaciAddressBundle:Default:list', { 'select': path('maci_order_checkout', {'id': order.id, 'set': 'shipping'}) } )) %}

		<br/><br/>

		{% render(controller('MaciAddressBundle:Default:form', {'id': false, 'method': 'maci_order_checkout'})) %}

	{% elseif order.shipping %}

		<h4>Shipping To:</h4>

		{% include "MaciAddressBundle:Default:_item.html.twig" with { 'address': order.shipping } %}

	{% endif %}


	{% if checkout == 'billing' %}

		<h4>Billing</h4>

		<h5>Select or Add an Address:</h5>

		{% render(controller('MaciAddressBundle:Default:list', { 'select': path('maci_order_checkout', {'id': order.id, 'set': 'billing'}) } )) %}

		<br/><br/>

		{% render(controller('MaciAddressBundle:Default:form', {'id': false, 'method': 'maci_order_checkout'})) %}

	{% elseif order.billing %}

		<h4>Billing To:</h4>

		{% include "MaciAddressBundle:Default:_item.html.twig" with { 'address': order.billing } %}

	{% endif %}


	{% if checkout == 'confirm' %}

		<h4>Confirm Order:</h4>

		{% render(controller('MaciOrderBundle:Default:paypalForm', {'order': order})) %}

	{% endif %}


{% endif %}

</section>


{% else %} {# --- InValid Checkout ---  #}

<div class="row">

	<p>No content.</p>

</div>

{% endif %} {# --- EndIf Checkout ---  #}

