
{% extends "MaciOrderBundle::layout.html.twig" %}


{% block title %}

{{ 'order.cart.meta_title' | matra('My Cart') }}

{% endblock %}


{% block content %}

<h3>Cart:</h3>

{% include "MaciOrderBundle:Default:_show.html.twig" with { 'order': cart, 'edit': true } %}

{% if cart and cart.items|length %}

<div class="row">
	<a href="{{ path('maci_order_checkout', {'id': cart.id}) }}" class="btn btn-default">Checkout</a>
</div>

{% endif %}

{% endblock %}



