
{% extends "MaciOrderBundle::layout.html.twig" %}



{% block content %}


<h3>Cart:</h3>

{% include "MaciOrderBundle:Default:_show.html.twig" with { 'order': cart } %}

{% if cart and cart.items|length %}

<br/><br/><br/>
<a href="{{ path('maci_order_cart_checkout') }}" class="btn btn-default">Checkout</a>

{% endif %}


{% endblock %}



