
{% extends "MaciOrderBundle::layout.html.twig" %}


{% block title %}

<title>{{ 'order.checkout.meta_title' | matra('Order Checkout') }}</title>

{% endblock %}


{% block container %}

{% include "MaciOrderBundle:Default:_checkout.html.twig" with {
	'checkout': checkout,
	'order': order
} %}

{% endblock %}

