
{% extends "MaciOrderBundle::layout.html.twig" %}


{% block title %}

<title>{{ 'order.index.meta_title' | matra('Order List') }}</title>

{% endblock %}


{% block content %}

{% include "MaciOrderBundle:Default:_list.html.twig" with { 'list': list } %}

{% endblock %}



