
{% extends "MaciOrderBundle::layout.html.twig" %}


{% block title %}

<title>{{ 'order.index.meta_title' | matra }}</title>

{% endblock %}

{% block description %}

<meta name="description" content="{{ 'order.index.meta_description' | matra }}" />

{% endblock %}


{% block content %}

{% include "MaciOrderBundle:Default:_list.html.twig" with { 'list': list } %}

{% endblock %}



