<html>
	<head>

		<title>Invoice {{ order }}</title>

        <link rel="shortcut icon" href="favicon.ico" />

		<link rel="stylesheet" href="{{ asset('/bundles/maciorder/css/invoice.style.css') }}" />

	</head>

	<body>

		<div class="container">

		{% include "MaciOrderBundle:Default:_invoice.html.twig" with { 'order': order } %}

		<footer id="footer" class="row">
			<p align="center">
				<a href="{{ path('maci_order') }}">&laquo; Back to Client Area</a> | 
				<a href="javascript:window.close()">Close Window</a>
			</p>
		</footer>


		</div>


	</body>
</html>

