
{% extends "MaciOrderBundle::layout.html.twig" %}


{% block title %}

{{ 'order.preview.meta_title' | matra('Order Preview') }}

{% endblock %}


{% block content %}

<h3>Order Preview:</h3>

{% include "MaciOrderBundle:Default:_show.html.twig" with { 'order': order } %}

{% if order and order.items|length %}

{% include "MaciOrderBundle:Default:_form.html.twig" with {'order': order, 'form': form} %}

{% endif %}

{% endblock %}

